a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 50vh;
    display: inline-block;
    display: flex;
    background-image: url(../img/green-bg.jpg);

 
}

.main-page{
    margin-top: 70px; 
   
}


.form-right i {
    font-size: 100px;
 
}

.form-right:hover{
    box-shadow: 10px 10px 30px 1px grey;
    transition-duration: 0.3s;
}

.form-left:hover{
    box-shadow: 10px 10px 30px 1px grey;
    transition-duration: 0.3s;
}

body{
    background-image: url(../img/green-bg.jpg);
}