/* >>>>>>>>>>>>>>>>>>>>> GENERAL STYLES <<<<<<<<<<<<<<<<<<<<<<<<<< */

body {
    background: rgba(230, 242, 222, 0.52);
}

/* Header */
#navToExpand {
    justify-content: center;
}

.navbar {
    background: rgba(33, 100, 60, 86%);
}

li .sh {
    color: white;
}

li .shopDropdown {
    background: rgba(33, 100, 60, 86%);
    border: none;
    margin-top: 0px;
}

#topHeader_banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 60%),rgba(0, 0, 0, 60%)), url(/img/header_banner_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

/* pdt Banners */
#pdt-banner {
    width: 100%;
    margin-top: 0;
    position: relative;
    margin-bottom: 3%;
}

#pdt-banner img {
    width: 100%;
    margin-top: -25%;
}

.farmers-header {
    width: 100%;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 5%;
}

.img-thumbnail {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
}
.btnApproveDecline .btn_dec_app {
    background:rgb(98,159,204);
    color: white;
    border: none;
    width: 220px;
    padding: 3% 5%;
    border-radius: 20px;
}

.farmers-header img {
    width: 100%;
    margin-top: -40%;
}

.pdt-wrd, .farmers-head {
    color: black;
    position: absolute;
    top: 30%;
    width: 50%;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: white;
    /* display: flex; */
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.486),rgba(0, 0, 0, 0.486));
    border-radius: 5px;
}

.farmers-main {
    width: 100%;
}

.dashboard-tabs {
    margin-left: 2%;
}
.farmers-main a {
    text-decoration: none;
    color: rgb(76,191,101)
}

.farmers-main .registered-farmers p{
    text-align: left;
}

.farmers-main .registered-farmers p a {
    background: rgb(98,159,204);
    display: inline-block;
    width: 20%;
    padding: 0.5%;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.dashboard-tabs a, .general_btn {
    background:rgb(98,159,204);
    color: white;
    padding: 2% 15%;
    border-radius: 20px;
}

.dashboard-tabs .form_btn {
    display: inline-block;
    padding: 0.5% 5%;
    margin-left: 45%;
    border: none;
    background: rgb(98,159,204);
    color: white;
    border-radius: 20px;
}

.general_button {

}

.farmers-main .registered-farmers-info .farmImg {
    display: flex;
    justify-content: center;
}
.farmers-main .registered-farmers-info .round-img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    text-align: center;
}

.pdt-wrd h2, .farmers-head h2 {
    margin: 0 auto;
    padding: 2%;
    font-size: 60px;
}

.pdt-desc {
    color: black;
    position: absolute;
    bottom: -7%;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    background: white;
    height: 15%;
    display: flex;
    padding: 2%;
    border-radius: 10px;;
}

.pdt-main, .veg-main {
    width: 100%;
    /* background: aliceblue; */
}

.pdt-main .pdt-category-boxes, .veg-main .veg-category-boxes, .about-farmer-registration, .meet-the-farmers {
    width: 25%;
    background: rgba(33, 100, 60, 0.86);
    height: 50px;
    border-radius: 0 25px 25px 0;
}

.pdt-main .pdt-category-boxes h6, .veg-main .veg-category-boxes h6, .about-farmer-registration h6, .meet-the-farmers h6 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 2.5%;
    font-weight: bolder;
    font-size: 20px;
}


.bxes h5 a {
    color: rgb(33,100,60)
}

.bxes .card {
    cursor:pointer;
}

.banner_menu {
    color: black;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 2;
    background: white;
    /* opacity: 0.8; */
}

#topHeader_banner #banner_word {
    margin: 5% auto;
}

#topHeader_banner #banner_word h2 {
    font-size:50px;
}
#topHeader_banner #banner_word p {
    font-size:18px;
}

#topHeader_banner #banner_word h1 {
    color: rgb(226, 218, 218);
    display: flex;
    justify-content: center;
}

/* how to Order Section */
#howTo {
    margin-top: 4%;
    width: 100%;
    position: relative;
}

#howTo h2, p, #exploreUfarm h2, p {
    text-align: center;
}

.viewShop {
    margin-top: 5%;
    background: rgb(98,159,204);
    color: white;
    padding: 0.5% 2%;
    display: inline-block;
    align-items: center;
    margin-left: 45%;
    text-decoration: none;
    border-radius: 20px;
}

.viewShop h6 {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

#howTo .instrtns {
    margin-top: 4%;
    width: 100%;
    background-image: url(/img/howtopic.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.instrtns .row {
    justify-content: center;
    margin-right: 0px;

}

.inst {
    height: 300px;
    background: #F9F9F9;
    border-radius: 3px;
    margin: 4%;
    filter: blur(0.5px);
    padding-top: 3.6%;
}

.inst .numbering {
    background: rgba(33, 100, 60, 0.86);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1%;
    position: relative;
    filter: blur(2px);
    float: left;
}

.inst .numbering .num {
    display: block;
    padding-top: 30%;
    font-size: 30px;
    position: absolute;
    left: 40%;
    color: white;
}

.inst .instrtnsFollow {
    margin: 1%;
}

.viewShopSmall {
    width: 120px;
    height: 30px;
    background: rgba(33, 100, 60, 0.86);
    border-radius: 32px 0px 0px 32px;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
    float: right;
} 

/* Expore Ufarm */
#exploreUfarm {
    margin-bottom: 5%;
}

#exploreUfarm a, .other-section a {
    display: inline-block;
    color: white;
    background: rgb(98,159,204);
    text-decoration: none;
    width: 55%;
    height: 40px;
    padding-top:1.5%;
    border-radius: 20px;
    font-weight:500;
}

.horticulture img {
    display: flex;
    height: 80%;
}

.card {
    box-shadow: 5px 5px 5px rgb(137, 173, 185);
}

.card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}
/* Testimonials and why us */
.testimonials {
    margin: 3% 3%;
}

.our_features {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.39)),url(/img/why_us.jpg);
    background-size: contain;
}

.testimonials .bx1 {
    background-color: #F9F9F9;
    width: 300px;
    height: 250px;
    margin: 5%;
    border-radius: 15px;
}

.user-testimonials {
    padding: 1%;
}

.user-testimonials a {
    color: rgb(42,151,86);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top:4%
}

.user-testimonials p {
    text-align: left;
}

.testi p {
    text-align: left;
}

/* why us */
.us-img {
    width: 120px;
}

.secure-ordering, .timeDelivery {
    height: 100px;
    margin-top: 7%;
}

.bx1 p {
    color: gray;
    letter-spacing: 1.5;
}

/* Footer */
#footer {
    width: 100%;
    height: auto;
    background: rgb(57,90,7);
    color: #fff;
    margin-top:5%;
}

#footer p {
    text-align: left;
}

#footer ul li {
    list-style: none;
    margin-bottom: 4%;
}

#footer ul li a {
    color: #fff;
}

.socials ul li {
    display: inline-block;
    margin: 3%
}

#footer .careof {
    width: 100%;
    background:rgb(65,65,65);
}

.careof p {
    text-align: center;
    margin-bottom: 0;
}


/*  Boxes  */
.add2cart-btn {
    background: rgb(98,159,204);
    color: white;
    width: 80%;
    border-radius: 25px;
}

.btn-lg:hover {
    border: 1px solid red
}



/* >>>>>>>>>>>>>>>>>>>>> SCREENS STYLES <<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Smart Phones */
@media screen and (max-width: 767px) { 
    #topHeader_banner {
        height: 650px;
    }

    #pdt-banner {
        margin-bottom: 20%;
    }

    .card-img-top {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
    
    #pdt-banner img {
        width: 100%;
        margin-top: -20%;
    }

    .pdt-wrd h2 {
        font-size:30px;
    }

    .pdt-desc {
        color: black;
        position: absolute;
        bottom: -15%;
        width: 80%;
        margin: 0 auto;
        right: 0;
        padding: 2%;
        left: 0;
        background: white;
        height: auto;
        display: flex;
    }

    .pdt-main .pdt-category-boxes, .veg-main .veg-category-boxes, .about-farmer-registration, .meet-the-farmers {
        width: 50%;
        height: 50px;
    }

    .pdt-main .pdt-category-boxes h6, .veg-main .veg-category-boxes h6, .about-farmer-registration h6, .meet-the-farmers h6 {
        padding: 5%;
        font-size: 16px;
    }

    #topHeader_banner .topHeader_overlay {
        height: 650px;
        width: 100%;
    }

    #topHeader_banner #banner_word {
        margin-left: 2%;
        margin-top: 10%;
    }

    .farmers-header img {
        margin-top: -15%;
    }

    .inst {
        padding-top: 5%;
    }

    #howTo {
        position: relative;
    }

    .viewShop {
        width: 150px;
        height: 50px;
        background: rgba(33, 100, 60, 0.86);
        border-radius: 32px 0px 0px 32px;
        color: white;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 20px;
    }

    .inst .numbering {
        background: rgba(33, 100, 60, 0.86);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 2% 40%;
        filter: blur(2px);
    }

    .inst .instrtnsFollow {
        padding: 20px;
    }

    .viewShop{
        display: none;
    }

    .viewShopSmall {
        display: visible;
    }

    .viewShopSmall h6 {
        text-align: center;
        font-size: 13px;
        padding: 6px;
    }

    .user-testimonials {
        margin-left: 4%;
        margin-right: 4%;
    }

    .testimonials {
        /* margin-left: 2%;
        margin-right: 2%; */
        width: 88%;
        margin-left: 6%;
    }

    .testimonials .bx1 {
        background-color: lightblue;
        width: 80%;
        height: 250px;
        margin: 5% auto;
    }

    .user-testimonials {
        width: 100%;
        /* padding: 10%; */
    }
}

/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    #howTo {
        position: relative;
    }

    .viewShop {
        width: 150px;
        height: 50px;
        background: rgba(33, 100, 60, 0.86);
        border-radius: 32px 0px 0px 32px;
        color: white;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 20px;
    }

    .inst .numbering {
        background: rgba(33, 100, 60, 0.86);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 1% 5%;
        filter: blur(2px);
        float: left;
    }

    .pdt-wrd h2 {
        font-size:40px;
    }

    .pdt-desc {
        color: black;
        position: absolute;
        bottom: 3%;
        width: 70%;
        margin: -4% auto;
        right: 0;
        left: 0;
        background: white;
        height: auto;
        display: flex;
    }

    .pdt-main .pdt-category-boxes {
        width: 50%;
        height: 50px;
    }

    .pdt-main .pdt-category-boxes h6 {
        padding: 3%;
        font-size: 20px;
    }

    .inst .instrtnsFollow {
        margin-top: 5%;
        float: left;
    }

    .viewShop{
        display: none;
    }

    .viewShopSmall{
        display: visible;
    }

    .viewShopSmall h6 {
        text-align: center;
        font-size: 13px;
        padding: 6px;
    }

}

/* Desktop */
@media screen and (min-width: 1024px){
    #topHeader_banner #banner_word {
        width: 600px;
        height: 200px;  
    }

    .viewShopSmall {
        display: none;
    }
    /* .inst .instrtnsFollow {
        width: 250px;
    } */
    .inst .numbering {
        background: rgba(33, 100, 60, 0.86);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 1% 1%;
        filter: blur(2px);
        float: left;
    }

    .inst .instrtnsFollow {
        margin-top: 1%;
        width:300px ;
        float: left;
    }
}